<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<meta charset="UTF-8">
	<title>WEATHER APP</title>
</head>
<body>
	
	<div id="app"   :class="typeof weather.main != 'undefined' && weather.main.temp < 16 ? 'warm' : ''">
		<main>
			<div class="search-box">
				<input type="text" placeholder="Search..." class="search-bar" v-model="input__value" @keypress="search__submit">
			</div>

			<div class="weather__location" v-if="typeof weather.main != 'undefined'">
				<div class="location">{{ weather.name}} | {{ weather.sys.country}} </div>
				<div class="date">{{ date }}</div>
			</div>
			
			<div class="weather__info" v-if="typeof weather.main != 'undefined'">
				<div class="weather__temp">{{  Math.round(weather.main.temp)}}°C</div>
				<div class="weather__rain">{{weather.weather[0].main}}</div>
			</div>
		</main>
	</div>





	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>
